.btn-fade-l {
  background:
    linear-gradient(88deg, rgb(255 255 255 / 16%) 2.91%, #ffffff00 85.12%),
    radial-gradient(ellipse at left, #ffffff 1%, #ffffff00 70%);

}

.btn-fade-r {
  background:
    linear-gradient(274deg, rgb(255 255 255 / 16%) 2.91%, #ffffff00 85.12%),
    radial-gradient(ellipse at right, #ffffff 1%, #ff000000 70%);

}

.carousel-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.carousel-box {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  max-width: 900px;
}