.endorsements-box {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    width: 202px;
    height: 240px;
}

.end-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #AAAAAA;
}

.endorsements-box h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #9B67FF;
    text-transform: uppercase;
}

button {
    background: rgba(170, 170, 170, 0.85);
    border-radius: 11px;
    width: 76px;
    padding:2px ;
}