.data-container {
  border: 10px solid #fff268;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  /* width: 75px; */
}

.front-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff268;
}

.data-container-active {
  border: 10px solid #fcf9d8;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  /* width: 75px; */
}

.front-arrow-active {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fcf9d8;
}
