@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-primary {
    @apply font-Inter text-soilBody focus:border-accentColor focus:ring-soilGreen-500 my-2 flex w-full resize-none rounded-md border border-zinc-400/50 py-1 px-2 text-base focus:outline-transparent  focus:ring;
  }
}
